{% extends "layout.html" %}
{% block title %}
  My Propositions
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    <div class=twitbox>
      <h3>Add proposition.</h3>
      <form action="{{ url_for('add_proposition') }}" method=post>
        <p><input type=text name=text size=60><!--
        --></p><input type=submit value="Add">
      </form>
    </div>
    <ul class=messages>
    {% for proposition in propositions %}
      <li>
      <p><a href="{{ url_for('proposition', prop_id=proposition.proposition_id) }}">link</a></p>
      <p>{{ proposition.created|datetimeformat }}</p>
      <p>{{ proposition.text }}</p>
    {% else %}
      <li>No propositions so far.
    {% endfor %}
    </ul>
  {% else %}
    Log in.
  {% endif %}
{% endblock %}
