{% extends "layout.html" %}
{% block title %}
  My Propositions
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>

  <div class=blue_box>
    <h3>Add proposition.</h3>
    <form action="{{ url_for('add_proposition') }}" method=post>
      <p><input type=text name=text size=60><!--
      --></p><input type=submit value="Add">
    </form>
  </div>

  {% for proposition in propositions %}
    {% if proposition.true %}
      <div class=green_box>
    {% elif proposition.false %}
      <div class=red_box>
    {% else %}
      <div class=grey_box>
    {% endif %}
        <p>Proposition Id: {{ proposition.proposition_id }}</p>
        <p>Created: {{ proposition.created|datetimeformat }}</p>
        <p>Author Id: {{ proposition.author_id }}</p>
        <p>Text: {{ proposition.text }}</p>
        <p>State: {{ proposition.state }}</p>
        <p>State String: {{ proposition.state_string }}</p>
        <p>Link: <a href="{{ url_for('proposition', prop_id=proposition.proposition_id) }}">here</a></p>
      </div>
  {% else %}
    <div class=grey_box>
      No propositions so far.
    </div>
  {% endfor %}

{% endblock %}
